In [1]:
import pandas as pd

In [2]:
data = {
    
    'Person_1' : ['Sam' ,19 , 'USA' , 329384],
    'Person_2' : ['Raj' , 20 , 'India' ,948394],
    'Person_3' : ['John' , 17 , 'UK' , 323123],
    
}

In [5]:
# Pandas DF 2d

df = pd.DataFrame(data , index = ['Name' , 'Age' , 'Country' , 'Phone Num'])

In [6]:
df

          Person_1 Person_2 Person_3
Name           Sam      Raj     John
Age             19       20       17
Country        USA    India       UK
Phone Num   329384   948394   323123

In [9]:
# Pandas Series 1d

pd.Series( [1, 2, 3, 4, 5 , 6.2 , "abc"] )

0      1
1      2
2      3
3      4
4      5
5    6.2
6    abc
dtype: object

In [11]:
pd.Series( [1, 2, 3] , index = ['a' , 'b' , 'c']  , name = 'values_series')

a    1
b    2
c    3
Name: values_series, dtype: int64

In [28]:
# Importing data

df1 = pd.read_csv('/Users/zupee/Downloads/dataset/wine_dataset.csv', index_col = 0 )

In [29]:
df1.head(5)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [30]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150930 entries, 0 to 150929
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   country      150925 non-null  object
 1   description  150930 non-null  object
 2   designation  105195 non-null  object
 3   points       150930 non-null  int64
 4   price        137235 non-null  float64
 5   province     150925 non-null  object
 6   region_1     125870 non-null  object
 7   region_2     60953 non-null   object
 8   variety      150930 non-null  object
 9   winery       150930 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 12.7+ MB

In [31]:
df1.describe()

              points          price
count  150930.000000  137235.000000
mean       87.888418      33.131482
std         3.222392      36.322536
min        80.000000       4.000000
25%        86.000000      16.000000
50%        88.000000      24.000000
75%        90.000000      40.000000
max       100.000000    2300.000000

In [32]:
df1.shape

(150930, 10)

In [38]:
# df1.description

df1[['description' , 'designation']]

,description,designation
0,This tremendous 100% varietal wine hails from ...,Martha's Vineyard
1,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva
2,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest
3,"This spent 20 months in 30% new French oak, an...",Reserve
4,"This is the top wine from La Bégude, named aft...",La Brûlade
...,...,...
150925,Many people feel Fiano represents southern Ita...,NaN
150926,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige
150927,This classic example comes from a cru vineyard...,Terre di Dora
150928,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé
150929,More Pinot Grigios should taste like this. A r...,NaN

In [40]:
df1['description'][0]

'This tremendous 100% varietal wine hails from Oakville and was aged over three years in oak. Juicy red-cherry fruit and a compelling hint of caramel greet the palate, framed by elegant, fine tannins and a subtle minty tone in the background. Balanced and rewarding from start to finish, it has years ahead of it to develop further nuance. Enjoy 2022–2030.'

In [41]:
df1['description'][100]

'Juicy kiwi, lime blossom and sour apple candy aromas show on the nose of this ripe white—the first 2016 submitted from the region. The palate is oily in texture, with honeydew and more lime-kiwi-bubblegum flavors.'

In [44]:
#iloc vs loc

# iloc : index based , first parameter is row & then second is column

# dataframe.iloc[rows , columns ]

In [46]:
df1.iloc[500]

country                                                   France
description    This widely available wine delivers aromas of ...
designation                                           Belleruche
points                                                        89
price                                                       15.0
province                                            Rhône Valley
region_1                                          Côtes du Rhône
region_2                                                     NaN
variety                                           Grenache-Syrah
winery                                             M. Chapoutier
Name: 500, dtype: object

In [48]:
df1.iloc[500 ,1 : 3]

description    This widely available wine delivers aromas of ...
designation                                           Belleruche
Name: 500, dtype: object

In [50]:
# use iloc , first column & all the rows

df1.iloc[ : , 0 ]

0             US
1          Spain
2             US
3             US
4         France
           ...
150925     Italy
150926    France
150927     Italy
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object

In [52]:
# use iloc , first column & top 3 rows

# df1.iloc[ : 3  , 0 ]

df1.iloc[ [0,1,2] , 0 ]

0       US
1    Spain
2       US
Name: country, dtype: object

In [53]:
# use iloc , all columns & last 5 rows

df1.iloc[  -5 :  ,  : ]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [56]:
# loc : label based

df1.loc [150925  , ['country' ,'description' ,  'province'] ]

country                                                    Italy
description    Many people feel Fiano represents southern Ita...
province                                          Southern Italy
Name: 150925, dtype: object

In [67]:
# example 1 : filter out rows with province as Champagne

# example 2 : filter out rows with province as Champagne and points = 90
# Hint : loc

df1.loc[(df1.province == 'Champagne')  | ( df1.points == 90)  & ( df1.price <= 50) ]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
30,Bulgaria,This Bulgarian Mavrud presents the nose with s...,Bergulé,90,15.0,Bulgaria,NaN,NaN,Mavrud,Villa Melnik
31,US,"Steely and perfumed, this wine sees only 20% n...",Babushka,90,37.0,California,Russian River Valley,Sonoma,Chardonnay,Zepaltas
33,France,"Pale in color, this is nutty in character, wit...",Nonpareil Trésor Rosé Brut,90,22.0,France Other,Vin Mousseux,NaN,Sparkling Blend,Bouvet-Ladubay
34,US,"The aromas entice with notes of wet stone, hon...",Conner Lee Vineyard,90,42.0,Washington,Columbia Valley (WA),Columbia Valley,Chardonnay,Buty
37,Italy,"Aromas of forest floor, violet, red berry and ...",NaN,90,29.0,Tuscany,Vino Nobile di Montepulciano,NaN,Sangiovese,Avignonesi
...,...,...,...,...,...,...,...,...,...,...
150923,France,"Rich and toasty, with tiny bubbles. The bouque...",Demi-Sec,91,30.0,Champagne,Champagne,NaN,Champagne Blend,Jacquart
150924,France,"Really fine for a low-acid vintage, there's an...",Diamant Bleu,91,70.0,Champagne,Champagne,NaN,Champagne Blend,Heidsieck & Co Monopole
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [68]:
# filter out rows with countries provied as a list

countries_list = ['US' , 'Italy']

df1.loc[df1.country.isin(countries_list)]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
8,US,This re-named vineyard was formerly bottled as...,Silice,95,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,Bergström
9,US,The producer sources from two blocks of the vi...,Gap's Crown Vineyard,95,60.0,California,Sonoma Coast,Sonoma,Pinot Noir,Blue Farm
...,...,...,...,...,...,...,...,...,...,...
150920,Italy,"Rich and mature aromas of smoke, earth and her...",Brut Riserva,91,19.0,Northeastern Italy,Trento,NaN,Champagne Blend,Letrari
150922,Italy,Made by 30-ish Roberta Borghese high above Man...,Superiore,91,NaN,Northeastern Italy,Colli Orientali del Friuli,NaN,Tocai,Ronchi di Manzano
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [69]:
from numpy import random

In [74]:
# generate a random int from 10 to 50

random.randint(50)

43

In [77]:
# generate a random float from 0 to 1

random.rand()

0.5953423203591213

In [83]:
# generate a random int array from 10 to 100 and array size should be 15

random.randint(10 , 100 , size = (15))

array([61, 28, 29, 72, 93, 29, 59, 81, 90, 41, 22, 33, 28, 42, 78])

In [86]:
# generate a random int array from 10 to 100 and array dim  3x3

random.randint(10 , 100 , size = (3,3))

array([[50, 34, 40],
       [63, 62, 62],
       [98, 88, 64]])

In [95]:
random.choice([1,2,3,4,5,6])

4

In [102]:
random.choice(["head" , "tails" ])

'tails'